{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-3" >
<div class="jumbotron">
  <h1 class="display-4">Welcome to iCoder</h1>
  <p class="lead">This is a simple blog which helps you to learn concepts of Programming Language or any other technical information.</p>
  <hr class="my-4">
  <p>I hope this blog is helpful for gain knowledge in technical area</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </p>
</div>
</div>


{% endblock body %}